
<html>

<body>
<button class="layui-btn layui-btn-normal upPage" id="upPage">上一页</button>
<button	class="layui-btn layui-btn-normal downPage" id="downPage">下一页</button>
<button class="layui-btn layui-btn-normal upTitle" id="upTitle">上一个</button>
<button	class="layui-btn layui-btn-normal downTitle" id="downTitle">下一个</button>
<input id="page" value="1"/>
<div class="menu_right">
    <div class="right_in">
        <div class="layui-tab layui-tab-card" style="margin:0">
            <ul class="layui-tab-title">

            </ul>
            <div class="layui-tab-content" style="padding: 0px">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/jq/jquery-1.11.0.js"></script>
<link href="/js/layui/css/layui.css" rel="stylesheet" type="text/css" />
<link href="/css/mv.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/layui/layui.all.js"></script>
<script type="text/javascript" src="/js/mv2.js"></script>
</body>
</html>